/* Reset default spacing and box model */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;     /* Center it horizontally */
  padding: 0;    /* Responsive padding */
}

.carousel-container {
  margin: 0;
  padding: 0;
}

.name-container {
  text-align: center;
  background: lightgreen; 
}

.sections-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: lightblue; 
}

@media (max-width: 768px) {
  .sections-container {
    flex-direction: column;
  }
}

.sections-container .section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
}

.contact-section {
  text-align: center;
  background: lightyellow;
}